<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    <!--         <RollingFile name="RollingFile" fileName="${log4j:configParentLocation}/logs/NanoporeBCsearcher.log"
                 filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
      <PatternLayout>
        <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
      </PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="100 KB"/>
      </Policies>
    </RollingFile>-->
  </Appenders>
  
  <Loggers>
<!--      <Logger name="com.rw.nanoporereadscanner.readerwriter.FastqRecordExt" level="error">
      <AppenderRef ref="Console"/>
    </Logger>
         <Logger name="com.rw.nanoporereadscanner.readerwriter.UsedCellBCListGenerator" level="error">
      <AppenderRef ref="Console"/>
    </Logger>-->
    
    <Root level="debug">
      <AppenderRef ref="Console"/>
    </Root>
    <!--    	<logger name="com" level="TRACE">
  		<AppenderRef ref="Console"/>
  	</logger>
  	<logger name="com.rw" level="TRACE">
  		<AppenderRef ref="Console"/>
  	</logger>-->
  </Loggers>
</Configuration>
