params {
    // General paths
    inputDir = "."                 // Path to input directory
    outputDir = "./analysis"            // Path to output directory

    // Pattern to find folders
    folderPattern = "barcode"            // Prefix pattern for finding FASTQ folders

    // Optional workflow behaviors
    normalize = false                    // Whether to normalize reads
    deleteBams = true                  // Whether to delete intermediate BAM files

    // Paths to tools and resources
    samtools = "/opt/bioinfo/samtools/samtools-1.16.1/bin/samtools"
    minimap2 = "/opt/minimap2/minimap2"
    fastp = "/usr/local/bin/fastp"
    TilingAmpliconParserJar = "/home/rainer/apps/wastewater/TilingAmpliconParser-1.0.jar"
    MpileupParserJar = "/home/rainer/apps/wastewater/MpileupParser-1.0.jar"
    referenceFasta = "/data/REFERENCES/minimap/SarsCov/SARS-CoV-2.reference.fasta"
    bedFiles = "/home/rainer/apps/wastewater/Bedfiles"
    javabin = "/opt/java/java/bin/java"
}
